.login-wrapper{
    width:40%;
    margin:auto;
}

.title{
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}
.input{
    display: flex;
    justify-content: space-around;
}
.input-field{
    width:70%;
}